<html>
<head>
	<title>Home Page</title>
</head>
<body>
     <center><h1>Home Page</h1></center><hr><br/></br>
     <ul>

     <li> <%= link_to "Student details", controller: 'home', action: 'student' %> </li><br/>
     <li> <%= link_to "Department details", controller: 'home', action: 'department' %> </li><br/>
	<li> <%= link_to "book details", controller: 'home', action: 'book' %> </li><br/>
	<li> <%= link_to "publication details", controller: 'home', action: 'publication' %> </li><br/>
	<li> <%= link_to "Borrower details", controller: 'home', action: 'borrower' %> </li><br/>
	<li> <%= link_to "staff details", controller: 'home', action: 'staff' %> </li><br/>
	
	
	
	</ul>
</body>
</html>