
<html>
	<head>
	<style>
		table, th, td {
			

    border: 1px solid black;
    border-collapse: collapse;

      }
      </style>

	</head>
	<body>
		<center><h1>STUDENT DETAILS</h1></center><hr/>
		<p align="right"> <%= link_to "home", "/" %> </p>
		<p align="right"> <%= link_to "Insert Into Students", "insert_to_students" %></p>
		<table>
			<tr>
				<th> <h3>ID</h3></th>
				<th><h3>NAME</h3></th>
				<th><h3>SEX</h3></th>
				<th><h3>DATE OF BIRTH</h3></th>
				<th><h3>DEPARTMENT ID </h3></th>
				<th><h3>CONTACT</h3></th>
				<th><h3>CREATED AT</h3></th>
				<th><h3>UPDATED AT</h3></th>
				
			</tr>
			<% @students.each do |i| %> 
			<tr>
				<td><%= i.id %></td>
				<td><%= i.name %></td>
				<td><%= i.sex %></td>
				<td><%= i.dob %></td>
				<td><%= i.dept_id %></td>
				<td><%= i.contact %></td>
				<td><%= i.created_at %></td>
				<td><%= i.updated_at %></td>
			</tr>
			<% end %> 
</table>

	</body>
</html>

